<div class="container">
  <form method="post" enctype="multipart/form-data">


    <dx-data-grid [width]="auto"
                  id="gridContainer"
                  [dataSource]="dataSource"
                  [showBorders]="true"
                  [rtlEnabled]="true"
                  [hoverStateEnabled]="true"
                  [selectedRowKeys]="[]"
                  (onToolbarPreparing)="onToolbarPreparing($event)"
                  (onCellPrepared)="CellPrepared($event)"
                  keyexpr="PatrolCheckInOutID">
      <dxo-paging [pageSize]="50"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="false"
                 [allowedPageSizes]="[50, 100, 200]"
                 [showInfo]="false">
      </dxo-pager>

      <dxo-export [enabled]="true" fileName="تقارير الاستلام والتسليم الأجهزة"></dxo-export>

      <!-- <dxo-header-filter
  [visible]="true"></dxo-header-filter> -->
      <!-- <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser> -->

      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <!-- <dxo-header-filter [visible]="true"></dxo-header-filter> -->
      <dx-load-panel #loadPanel
                     shadingColor="rgba(0,0,0,0.4)"
                     [position]="{ of: '#gridContainer' }"
                     [(visible)]="loadingVisible"
                     [showIndicator]="true"
                     [showPane]="true"
                     [shading]="true"
                     [closeOnOutsideClick]="false"
                     (onShown)="onShown()">
      </dx-load-panel>



      <dxi-column dataField="personname" caption="الاسم" width="20%" [filterOperations]="['contains', '=']" [selectedFilterOperation]="'contains'"></dxi-column>
      <dxi-column dataField="statename" caption="الحالة" [filterOperations]="['contains', '=']" [selectedFilterOperation]="'contains'" width="10%"></dxi-column>
      <dxi-column dataField="platenumber" caption="رقم الدورية" width="10%" [filterOperations]="['contains', '=']" [selectedFilterOperation]="'contains'"></dxi-column>
      <dxi-column dataField="model" caption="موديل" width="5%" [filterOperations]="['contains', '=']" [selectedFilterOperation]="'contains'"></dxi-column>
      <dxi-column dataField="milnumber" class="tdcenter" caption="الرقم العسكري" width="5%" [filterOperations]="['contains', '=']" [selectedFilterOperation]="'contains'"></dxi-column>
      <dxi-column dataField="personrank" caption="الرتبه" width="20%" [filterOperations]="['contains', '=']" [selectedFilterOperation]="'contains'"></dxi-column>
      <dxi-column dataField="timestamp" caption="الوقت والتاريخ" dataType="date" width="20%" [allowFiltering]="false" [format]="{ type: 'dd/MM/yyyy hh:mm:ss a' }"></dxi-column>
    </dx-data-grid>
  </form>
</div>
