  <!-- <div class="container" style="text-align:right; direction:rtl;">
<table class="maptbl" >
    <tr>
      <td>
       
            <select (change)="chngstyle($event)">
                <option value="basic">basic</option>
                <option value="streets">streets</option>
                <option value="bright">bright</option>
                <option value="satellite">satellite</option>
              </select>
            
      </td>
      <td>
        
        <img src="../../../assets/images/flag2.png" (click) = "SetFlag()"  height="50" width="40"  />
      </td>
      <td>
          <img src="../../../assets/images/alarmlistesi_r_glow.png"  height="50" width="40"  />
        </td>
      
            <td>
                <img src="../../../assets/images/olcme_r_glow.png"    height="50" width="40" tootltip="Measure Disttance" />
              </td>
            
                <td>
                    <img src="../../../assets/images/haritayisigdir_r_glow.png" (click) ="FullScreen()"  tooltip="ZoomtoFit" height="50" width="40"  />
                  </td>
                  <td>
                      <img src="../../../assets/images/uzaklastir_r_glow.png"  (click) ="ZoomOut()" tooltip="Zoom Out" height="50" width="40"  />
                    </td>
                    <td>
                        <img src="../../../assets/images/yakinlastir_r_glow.png"   (click) ="ZoomIn()" tooltip="Zoom In" height="50" width="40"  />
                      </td>
                  <td>
                      <img src="../../../assets/images/haritayikaydir_r_glow.png"  height="50" width="40"  tooltip="Pan to Map" />
                    </td>
          <td>
              
            </td>
    </tr>
    

  </table> 
  <div>-->

  



    <div id='map'  ></div>
    


