<div class="container">
  <form method="post" enctype="multipart/form-data">
    <dx-data-grid #gridIncidents
                  id="gridIncidents"
                  [width]="auto"
                  [dataSource]="incidentsrc"
                  [showBorders]="true"
                  [rtlEnabled]="true"
                  [hoverStateEnabled]="false"
                  wordWrapEnabled="true"
                  (onToolbarPreparing)="onIncidentToolbarPreparing($event)"
                  (onRowPrepared)="onIncidentRowPrepared($event)">
      <dx-load-panel #incidentloadPanel
                     shadingColor="rgba(0,0,0,0.4)"
                     [position]="{ of: '#gridIncidents' }"
                     [(visible)]="incidentloadingVisible"
                     [showIndicator]="true"
                     [showPane]="true"
                     [shading]="true"
                     [closeOnOutsideClick]="false"
                     (onShown)="onIncidentShown()"
                     (onIncidentToolbarPreparing)="onIncidentToolbarPreparing">
      </dx-load-panel>

      <dxi-column dataField="incidentid" caption="" [allowFiltering]="false"></dxi-column>
      <dxi-column dataField="incidentsourceid" [allowFiltering]="false" caption="جهة البلاغ">
        <dxo-lookup [dataSource]="incidentsources"
                    valueExpr="incidentsourceid"
                    displayExpr="name">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="incidentstypename" [filterOperations]="['contains', '=']" [selectedFilterOperation]="'contains'" caption="البلاغ"></dxi-column>
      <dxi-column dataField="place" [filterOperations]="['contains', '=']" [selectedFilterOperation]="'contains'" caption="المكان"></dxi-column>
      <dxi-column dataField="timeStamp" caption="وقت البلاغ" [allowFiltering]="false" dataType="date" [format]="{ type: 'dd/MM/yyyy hh:mm:ss a' }"></dxi-column>
      <dxi-column dataField="lastupdate" dataType="date" [format]="{ type: 'dd/MM/yyyy hh:mm:ss a' }" caption="آخر تحديث" [allowFiltering]="false"></dxi-column>
      <dxi-column dataField="incidentid" caption="" [allowFiltering]="false" cellTemplate="incidentTemplate"></dxi-column>
      <div *dxTemplate="let data of 'incidentTemplate'">
        <img src="../../../../assets/img/NewUpdate.png" />
      </div>

      <dxo-paging [pageSize]="80"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true"
                 [allowedPageSizes]="[80, 50, 10]"
                 [showInfo]="true">
      </dxo-pager>
      <dxo-export [enabled]="true" fileName="Operations"></dxo-export>
      <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>

    </dx-data-grid>
    <dx-popup class="popup"
              [width]="500"
              [height]="400"
              [showTitle]="false"
              title=""
              [showCloseButton]="true"
              [dragEnabled]="true"
              [closeOnOutsideClick]="true"
              [(visible)]="popupVisible">
      <div *dxTemplate="let data of 'content'">

        <table>
          <tr>
            <td>
              <label>جهة البلاغ</label>
            </td>
            <td>
              <dx-select-box width="300"
                             [dataSource]="incidentpopupsrc"
                             showClearButton="true"
                             valueExpr="incidentsourceid"
                             displayExpr="name"
                             [value]="selincidentSourceID"
                             searchEnabled="true"
                             placeholder=""
                             rtlEnabled="true"
                             searchExpr="['incidentid', 'name']"
                             (onValueChanged)="incidentsourceValueChange($event)">
              </dx-select-box>
            </td>
          </tr>
          <tr>
            <td>
              <label>نوع البلاغ</label>
            </td>
            <td>
              <dx-select-box width="300"
                             [dataSource]="incidenttypessrc"
                             showClearButton="true"
                             valueExpr="incidenttypeid"
                             displayExpr="name"
                             [value]="selIncidenttypeId"
                             searchEnabled="true"
                             placeholder=""
                             rtlEnabled="true"
                             searchExpr="['incidenttypeid', 'name']">
              </dx-select-box>
            </td>
          </tr>
          <tr>
            <td>
              <label>المكان</label>
            </td>
            <td>
              <input name="txtplace" [(ngModel)]="incidentplace">
            </td>
          </tr>
          <tr>
            <td>  <label name="lblextrainfo1" [(ngModel)]="lblinfo1"></label></td>
            <td><input name="txtextrainfo1" [(ngModel)]="txtinfo1"></td>
          </tr>
          <tr>
            <td>  <label name="lblextrainfo2" [(ngModel)]="lblinfo2"></label></td>
            <td><input name="txtextrainfo2" [(ngModel)]="txtinfo2"></td>
          </tr>
          <tr>
            <td>  <label name="lblextrainfo3" [(ngModel)]="lblinfo3"></label></td>
            <td><input name="txtextrainfo3" [(ngModel)]="txtinfo3"></td>
          </tr>
          <tr>
            <td>

              <button (click)=RowAdd($event) data-dismiss="modal" class="btn btn-primary">حفظ</button>
            </td>
            <td>
              <button (click)="ClosePopup()" data-dismiss="modal" class="btn btn-default">إلغاء</button>

            </td>
          </tr>
          <tr>

            <td colspan="2">
              <div class="errormsg"> {{incidents_statusLabel}} </div>
            </td>
          </tr>
        </table>

      </div>
    </dx-popup>
  </form>
</div>
