<div class="container" [@fadeInOut]>

  <div>
    <div class="row">
      <div class="col-sm-6 pull-right">
        <select [ngModel]="selectedAhwalSrc"  (change)="ahwalChangeEvent($event.target.value)" class="form-control">
          <option *ngFor="let data of ahwalsrc" [value]="data.ahwalid">{{data.name}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <app-incident-chart [data]="selectedAhwalSrc"></app-incident-chart>
      </div>
      <div class="col-sm-6">
        <app-employee-chart [data]="selectedAhwalSrc"></app-employee-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <app-deviceavailability [data]="selectedAhwalSrc"></app-deviceavailability>
      </div>
      <div class="col-sm-6">
        <app-patrolstatus [data]="selectedAhwalSrc"></app-patrolstatus>
      </div>
    </div>
  </div>
</div>


