<div class="container">
  <header class="pageHeader">
    <h3><i class="fa fa-charts" aria-hidden="true"></i> {{'pageHeader.Dashboard' | translate}}</h3>
  </header>
  <div [@fadeInOut]>
    <div class="row">
      <div class="col-md-12">
        <hr class="last-separator-hr" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <app-incident-chart></app-incident-chart>
      </div>
      <div class="col-sm-6">
        <app-employee-chart></app-employee-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="last-separator-hr" />
      </div>
    </div>
  </div>
</div>


