<div class="container">
  <form #f="ngForm" method="post" enctype="multipart/form-data">
    <dx-data-grid id="gridContainer"
                  [width]="auto"
                  [dataSource]="dataSource"
                  [showBorders]="true"
                  [rtlEnabled]="true"
                  [hoverStateEnabled]="true"
                  [selectedRowKeys]="[]"
                  (onToolbarPreparing)="onToolbarPreparing($event)"
                  keyexpr="patrolid">
      <dxo-paging [pageSize]="50"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="false"
                 [allowedPageSizes]="[50, 100, 200]"
                 [showInfo]="false">
      </dxo-pager>
      <dxo-editing mode="row"
                   [allowUpdating]="false"
                   [allowDeleting]="false"
                   [allowAdding]="false">

      </dxo-editing>

      <dxo-selection mode="single"></dxo-selection>
      <dxo-export [enabled]="true" fileName="IncidentTypes"></dxo-export>
      <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
      <dxo-filter-row [visible]="true"></dxo-filter-row>

      <dx-load-panel #loadPanel
                     shadingColor="rgba(0,0,0,0.4)"
                     [position]="{ of: '#gridContainer' }"
                     [(visible)]="loadingVisible"
                     [showIndicator]="true"
                     [showPane]="true"
                     [shading]="true"
                     [closeOnOutsideClick]="false"
                     (onShown)="onShown()">
      </dx-load-panel>
      <dxi-column dataField="incidenttypeid" caption="رقم"  [filterOperations]="['contains', '=']" [selectedFilterOperation]="'contains'" [allowEditing]="true"></dxi-column>
      <dxi-column dataField="name" caption="اسم" [filterOperations]="['contains', '=']" [selectedFilterOperation]="'contains'" [allowEditing]="true"></dxi-column>

      <dxi-column cellTemplate="btncelltemplate"> </dxi-column>
      <div *dxTemplate="let data of 'btncelltemplate'">
        <i class="fa fa-edit" (click)='ShowUpdatePopup($event,data.data)'></i>
        &nbsp; &nbsp;
        <i class="fa fa-trash" (click)='DelRecord($event,data.data)' style="color:red"></i>
      </div>

    </dx-data-grid>
    <dx-popup class="popup"
              [width]="auto"
              [height]="auto"
              [showTitle]="true"
              title=""
              [showCloseButton]="true"
              [dragEnabled]="true"
              [closeOnOutsideClick]="true"
              [(visible)]="popupVisible">
      <div *dxTemplate="let data of 'content'">
        <table>
          <tr>
            <td>
              <label>اسم</label>
            </td>
            <td>
              <input name="txtincidenttypename" [(ngModel)]="incidenttypename">
            </td>
          <tr>
            <td>
              <button (click)="hdntrans === 'I' ? RowAdd($event) :  RowAdd($event)" data-dismiss="modal" class="btn btn-primary">حفظ</button>
            </td>
            <td>
              <button (click)="ClosePopup()" data-dismiss="modal" class="btn btn-default">إلغاء</button>
            </td>
          </tr>
        </table>
      </div>
    </dx-popup>
  </form>
</div>

